body{
  width: 100vw;
  height: 100vh;
  background-color: #3C3C3C;
  font-family:'Raleway', sans-serif;
  color: #84CDFC;

}
section{
  transition: height .2s ease;
  position: absolute;
  height: 50%;
  width: 50%;
  border-radius: 10px;
  /*border: 1px solid red;*/
}
.active {
  z-index: 5;
  height: 100%;
  width: 100%;
}
.onlyIfActive{
  display:none;
}
.active .onlyIfActive{
  display: block;
}
.nonactive{
  z-index: 0;
  height: 50%;
  width: 50%;
}
/*img{
  width: 100%;
  height: 100%;
}*/
.one{
  background-color: #541543;
  top: 0;
  left: 0;
}
.two{

  background-color: white;
  top: 0;
  right: 0px;


}
.three{
  background-color: #FF5627;
  bottom: 0;
  left: 0;

}
.four{
  background-color: #C90035;
  bottom:0;
  right: 0;

}
body, .main{
  background-color: #3C3C3C;
  font-family:'Raleway', sans-serif;
  color: #84CDFC;
  margin: 0;
  overflow: auto;

}
h1, h3{
  margin-left: 60px;
}
.navbardiv{
  display: flex;
  justify-content: center;

}
.navbar{
background-color: #84CDFC;
display: flex;
justify-content: space-between;
  border-radius: 10px;
  width: 60%;
}
.navbarli{
  list-style: none;
  display: inline-block;
  text-decoration: none;




}
a{
  text-decoration: none;

  color: #3C3C3C;

}

.aboutmediv{
  display: flex;
flex-direction: row;

}
.aboutmediv li{
  list-style: none;

}
.aboutmediv2{
  border-top: 10;
  border-left: 30;
  border-color: white;
}
#testselfie{
  float: left;
  height: 200px;
  width: 200px;
  border-radius: 45%;

}
.resume2ndbody, .resume3rdbody{
  background-color: #84CDFC;
  border-radius: 5px;
  color: #3C3C3C;


}
.resume2ndbody{
margin-top: 30px;
  overflow: auto;

}
.resume3rdbody{
  margin-top: 0;
  overflow: auto;
}
.resume2ndbody:before, .resume3rdbody:before,  {
  content : "";
  position: absolute;
  right  : 0;
  top  : 10;
  height  : 10px;
  width   : 25%;  /* or 100px */
  border-top:3px solid #1E5E92;
  border-spacing:
